h1 {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
body {
    background-color: black;
}
#loginlooks {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
