h1 {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
body {
    background-color: black;
}
#loginlooks {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.myDiv {
    margin: auto;
    border-radius: 25px;
    background-color: #ff0000;
    padding: 20px;
    width: 50%;
    height: 20%;
    font-size: 100px;
}